<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/board/update" method="post" name="update">
    <input type="hidden" name="id" th:value="${boardUpdate.id}">
    writer: <input type="text" name="nickname" th:value="${boardUpdate.nickname}" readonly> <br>
    pass: <input type="text" name="boardPass" id="boardPass"> <br>
    title: <input type="text" name="title" th:value="${boardUpdate.title}"> <br>
    contents: <textarea name="content" cols="30" rows="10" th:text="${boardUpdate.content}"></textarea> <br>
    <input type="hidden" name="boardHits" th:value="${boardUpdate.boardHits}">
    <input type="button" value="글수정" onclick="boardUpdate()">
</form>
<script th:inline="javascript">
    const boardUpdate = () => {
        const pass = [[${boardUpdate.boardPass}]]; // 기존 비밀번호
        const inputPass = document.getElementById("boardPass").value; // 사용자가 입력한 비밀번호
        if (pass == inputPass) {
            document.update.submit();   //여기서 update는 form의 name 값이다.
        } else {
            alert("비밀번호가 일치하지 않습니다!");
        }
    }
</script>
</body>